.nrml-padding {
  padding: 20px 60px 0;
}
.space-between {
  justify-content: space-between;
  align-items: center;
}

.green-head {
  color: #6ccacb;
  font-size: 40px;
  font-weight: 400;
}
.grey-light {
  font-weight: 400;
  color: #b7b8cf;
  font-size: 18px;
}

.size-l {
  font-size: 30px;
}

.best-price {
  font-weight: 400;
  font-size: 80px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 820px) {
  .green-head {
    font-size: 14px;
    white-space: nowrap;
  }
  .grey-light {
    font-size: 10px;
    white-space: nowrap;
  }
  .best-price {
    font-size: 20px;
  }
  .size-l {
    font-size: 14px;
  }
  .nrml-padding {
    padding: 30px 30px 0;
  }
  * {
    letter-spacing: 0.3px;
  }
  .best-sub {
    font-size: 8px;
    margin-top: 10px;
    text-align: center;
  }
}
